* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Variables
$main-color: rgb(36, 63, 182);
$secondary-color: rgb(7, 15, 51);

body {
    font-family: 'Cabin', 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
    .index-container {
        background-color: $main-color;
        color: white;

        .section-title {
            margin-top: 120px;
            margin-bottom: 120px;
        }
    }

    .portafolio-container {
        .cards-container {
            padding: 0;
            .card {
                margin: 15px;
                .card-title {
                    margin: 0;
                }

                .card-content {
                    padding: 15px;
                    width: 500px;

                    .card-img {
                        width: 100%;
                    }

                    .card-text {
                        margin: 20px 0;
                    }

                }
            }
        }
    }
}

footer {
    background-color: $secondary-color;
    color: white;
    .bottom-footer {
        justify-content: space-between;
        .list-unstyled {
            .link-body-emphasis {
                padding: 0 5px;
                svg {
                    width: 25px;
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        .bottom-footer {
            text-align: center;
            align-items: center;
            flex-direction: column-reverse;

            .list-unstyled {
                margin: 10px 0 30px;
            }
        }
    }
}
@media (max-width: 592px) {

    main {
        .portafolio-container {
            .cards-container {
                .card {
                    margin: 0;
                    margin-bottom: 25px;
                    .card-content {
                        width: 90vw;
                    }
                }
            }
        }
    }
}